body{
    background-color: #262626;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ecf0f1;
    font-family: Verdana;
}

header h1{
    background-color: #212121;
    color: #ecf0f1;
    padding: 20px 15px;
    font-size: 120%;
    text-transform: uppercase;
    margin: 0;
    box-shadow: 0 2px 4px 0 grey;
    text-align: left;
}

.backtotop{
    background-color: white;
    border-radius: 1em;
    width: 20px;
    height: 20px;
    padding: 5px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    opacity: .25;
    zoom: 1.5;
}

.backtotop a{
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
    color: #262626;
}

.backtotop:hover{
    opacity: 1;
}

.container{
    padding: 20px;
    margin-top: 20px;
}

.deck{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-inline-start: 0;
}

.deck li{
    list-style-type: none;
}

@media screen and (max-width: 767px){
    .card{
        background-color: white;
        padding: 10px;
        margin: 10px;
        width: 240px;
        display: flex;
        align-items: center;
    }

    .color{
        border-style: solid;
        border-width: thick;
        height: 50px;
        width: 50px;
        display: inline-block;
    }

    .color:hover{
        zoom: 1.5;
    }

    .color:focus{
        zoom: 1.5;
    }

    .description{
        padding-left: 10px;
        display: inline-block;
    }
}

@media screen and (min-width: 768px){
    .card{
        background-color: white;
        padding: 10px;
        margin: 10px;
        width: 160px;
        draggable: true;
    }

    .color{
        border-style: solid;
        border-width: thick;
        height: 50px;
        width: 50px;
        display: inline-block;
    }

    .color:hover{
        zoom: 1.5;
    }

    .color:focus{
        zoom: 1.5;
    }

    .description{
        padding-top: 10px;
    }
}

table{
    color: black;
    font-size: x-small;
    display: inline-block;
}

table th{
    text-align: right;
}

table td{
    text-align: left;
}